<p id="notice"><%= notice %></p>



<div class="container">
  <h1>Son Hoang's micro-blog</h1>
  <h3>My first Ruby on Rails Application for CoderSchool</h3>  

  <%= render @articles %>
 
<br>

<%= link_to 'New Article', new_article_path %>

</div>



